{% extends "automation_feeds/base.html" %}

{% block title %}
<title>Blog Page</title>
{% endblock %}

{% block content %}

<section class="blog_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h1>Blog</h1>
        </div>
        <div class="text-center">
            {% for post in page %}
            <div class="box mb-4">
                <div class="img-box">
                    <img src="{{ MEDIA_URL }}{{ post.image }}" alt="{{ post.title }}">
                </div>
                <div class="detail-box">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.content|truncatechars:200 }}</p>
                    <p>Autor: {{ post.author.username }}</p>
                </div>
                <button class="read-more-button" data-url="{{ post.get_absolute_url }}">Citește mai mult</button>
                <div class="full-content" style="display: none;">
                    {{ post.content }}
                </div>
            </div>
            {% endfor %}
        </div>
    <br>
    <br>

    <div class="text-center">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-secondary mx-2">First</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary mx-2">Previous</a>
        {% endif %}
        
        {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
                <span class="current-page">{{ num }}</span>
            {% else %}
                {% if num == 1 or num == page_obj.paginator.num_pages %}
                    <a href="?page={{ num }}" class="btn btn-secondary mx-2">{{ num }}</a>
                {% elif num in page_obj.page_range|slice:"2" %}
                    {% if num == page_obj.page_range|slice:"2"|first %}
                        <a href="?page={{ num }}" class="btn btn-secondary mx-2">{{ num }}</a>
                    {% else %}
                        <span class="ellipsis">...</span>
                    {% endif %}
                {% elif num == page_obj.page_range|slice:"2"|last %}
                    <a href="?page={{ num }}" class="btn btn-secondary mx-2">{{ num }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary mx-2">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-secondary mx-2">Last</a>
        {% endif %}
    </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const readMoreButtons = document.querySelectorAll(".read-more-button");

    readMoreButtons.forEach(button => {
      button.addEventListener("click", function () {
        const url = this.getAttribute("data-url");
        window.location.href = url;
      });
    });
  });
</script>

{% endblock %}
