{% extends "automation_feeds/base.html" %}

{% block title %}
<title>Blog Page</title>
{% endblock %}

{% block content %}

<div class="container">
    <br>
    <h1> Ultimele articole de blog </h1>
    <hr>
    <hr>

{% if page_obj %}
    {% for post in page_obj %}
        <div class="post">
            <h2>{{ post.title }}</h2>
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
            <p>{{ post.content|slice:"500"|safe }}...</p>
            <p>Categorie: {{ post.category.name }}</p>

            {% if post.category.slug %}
                <a href="{% url 'post_detail' category_slug=post.category.slug slug=post.get_slug %}">Citeste mai departe</a>
            {% endif %}

        </div>
    {% endfor %}
{% else %}
    <p>Nu există articole de blog disponibile.</p>
{% endif %}


<!-- Pagination -->
    <div class="text-center">
    {% if page_obj.has_previous %}
        <a href="?page=1" class="btn btn-secondary mx-2">First</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary mx-2">Previous</a>
    {% endif %}
    
    {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
            <span class="current-page">{{ num }}</span>
        {% else %}
            {% if num == 1 or num == page_obj.paginator.num_pages %}
                <a href="?page={{ num }}" class="btn btn-secondary mx-2">{{ num }}</a>
            {% elif num in page_obj.page_range|slice:"2" %}
                {% if num == page_obj.page_range|slice:"2"|first %}
                    <a href="?page={{ num }}" class="btn btn-secondary mx-2">{{ num }}</a>
                {% else %}
                    <span class="ellipsis">...</span>
                {% endif %}
            {% elif num == page_obj.page_range|slice:"2"|last %}
                <a href="?page={{ num }}" class="btn btn-secondary mx-2">{{ num }}</a>
            {% endif %}
        {% endif %}
    {% endfor %}
    
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary mx-2">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-secondary mx-2">Last</a>
    {% endif %}
    </div>
</div>
<br>
{% endblock %}
