{% extends 'automation_feeds/base.html' %}
{% load static %}

  <!-- Block title -->
  {% block title %}
   <title>Feeds</title>
  {% endblock %}


  <!-- block content -->     
  {% block content %}
<section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Latest Products
        </h2>
      </div>
      <div class="row">
        {% for product in page %}
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box">
                <a href="{{ product.affiliate_code }}">
                    <div class="img-box">
                        <img src="{{ product.image_urls }}" alt="">
                    </div>
                    <div class="detail-box">
                        <h6>{{ product.title }}</h6>
                        <h6>Price<span>{{ product.price }}</span></h6>
                    </div>
                    <div class="new">
                        <span>New</span>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
      </div>

    <br>
    <br>

<div class="text-center">
    {% if page_obj.has_previous %}
        <a href="?page=1" class="btn btn-secondary mx-2">First</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary mx-2">Previous</a>
    {% endif %}
    
    {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
            <span class="current-page">{{ num }}</span>
        {% else %}
            {% if num == 1 or num == page_obj.paginator.num_pages %}
                <a href="?page={{ num }}" class="btn btn-secondary mx-2">{{ num }}</a>
            {% elif num in page_obj.page_range|slice:"2" %}
                {% if num == page_obj.page_range|slice:"2"|first %}
                    <a href="?page={{ num }}" class="btn btn-secondary mx-2">{{ num }}</a>
                {% else %}
                    <span class="ellipsis">...</span>
                {% endif %}
            {% elif num == page_obj.page_range|slice:"2"|last %}
                <a href="?page={{ num }}" class="btn btn-secondary mx-2">{{ num }}</a>
            {% endif %}
        {% endif %}
    {% endfor %}
    
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary mx-2">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-secondary mx-2">Last</a>
    {% endif %}
</div>

</section>

  {% endblock %}
